header{
font-family: 'Crimson Pro', serif;
font-size: 48px;
color: blueviolet;
background-image:url(https://stadszaken.nl/upload/images/Openbare_ruimte_1_Heerlen%2C_door_Kasper_Baggerman_729x243.jpg);
float: right;
}
[class*="col-"]{
width:100%;
}
.boter{
background-color: blue;
color: yellow;
}
.ijs{
background-color: green;
color: olive;
}
@media only screen and (min-width: 768px){
[class*="col-"]{
float:left;
padding:15px;
margin:10px;
background-color: bisque;
color: rgb(160, 96, 17);
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.maan{
background-color: rgb(77, 43, 43);
color: red;
float: left;
img: right; 
}
.vis{
background-color:rgb(90, 38, 90) ;
color: blueviolet;
float: left;
img: right;
}
.roos{
background-color: aqua;
}
.bloem{
background-color: aquamarine;
}
.regenboog{
background-color: aqua;
}
.meer{
background-color: aquamarine;
}
.vissenkom{
background-color: aqua;
}
.basisschool{
background-color: aquamarine;
}
.jarig{
background-color: light pink;
}

header{
width: 100%;
height: 250px;
color: bisque;
background-image:https://www.visitzuidlimburg.nl/mxms/mediastore/media/2409?t=637611652626627021&size=2000x615&area=0,603,6240,2167;
background-size: cover;
background-position: center;

}
footer{
width: 100%;
background-color: blueviolet;
color: beige;
}
